.list-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  padding: 15px;
  padding-left: 20px;
  width: 100%;
  margin-top: 20px;
}
.list-1 {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
}
.list-2 {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
}
.list-3 {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
}
.money-img {
  width: 70px;
  margin-right: 30px;
}
.money-type-para {
  color: #1e293b;
  font-size: 12px;
}
.money-para {
  color: #1e293b;
  font-size: 16px;
}

@media (min-width: 768px) {
  .list-container {
    min-width: 200px;
    padding: 10px;
    padding-left: 20px;
    flex-grow: 1;
  }
  .list-2 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .money-img {
    width: 60px;
    margin-right: 20px;
  }
  .money-type-para {
    font-size: 14px;
  }
  .money-para {
    font-size: 18px;
  }
}

@media (min-width: 992px) {
  .list-container {
    min-width: 200px;
    padding: 10px;
    padding-left: 20px;
    flex-grow: 1;
  }
  .list-2 {
    margin-right: 25px;
    margin-left: 25px;
  }
  .money-img {
    width: 60px;
    margin-right: 20px;
  }
  .money-type-para {
    font-size: 14px;
  }
  .money-para {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .list-container {
    min-width: 200px;
    padding: 10px;
    padding-left: 23px;
    flex-grow: 1;
  }
  .list-2 {
    margin-right: 50px;
    margin-left: 50px;
  }
  .money-img {
    width: 70px;
    margin-right: 30px;
  }
  .money-type-para {
    font-size: 14px;
  }
  .money-para {
    font-size: 18px;
  }
}
